.header {

	width: 100%;


	background-color: #000;
	margin: 0 0 50px 0;
	/*
	margin: 0 0 50px 0;
	*/
}




.header__container {
	display: flex;
	height: 80px;
	align-items: center;
	justify-content: space-between;
}


.header__body {
	flex: 1 1 auto;
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;

	/* делаем всё по центру */
	display: flex;
	flex-direction: column;
	justify-content: center;

	padding: 0 20px;
}


.header__logo {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #fff;
}

.header__phone {
	color: #fff;
}


.avatar_clan {
	position: relative;
	height: 100%;
	background-color: blue;
	top: 0;
}

.avatar_img {
	position: absolute;
	top: 0;

	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
		url('../img/avatar.jpg') center / cover no-repeat fixed;

	width: 150px;
}

.t_center {
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
}