.tournament {}

.tournament {
	display: flex;
	align-items: center;
	justify-content: space-between;


	max-width: 100%;
	height: auto;
	margin: 50px 0px;

	background-color: transparent;
}

/*
.tournament video,
.tournament img {
	width: 100px;
	height: 100px;
}
*/

.tournament_img,
.tournament video {
	width: 90%;
}

.information_img {
	width: 100%;
}