/*** Обнуление ***/
*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

/*
a {
	text-decoration: none;
}

ul,
ol,
li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
*/

html,
body {
	height: 100%;
	background-color: darkorchid;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #fff;
	font-size: 21px;
}

/*** Шрифты fonts ***/
/*если есть свои шрифты на компе
- их лучше переконвертировать через сайт font 2 web*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
/* для подключения
font-family: 'Poppins', sans-serif;
*/
/*maven pro Regular 400*/
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&family=Poppins:wght@600&display=swap');
/*maven pro Medium 500 исп для текста исп как основной*/
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500;800&family=Poppins:wght@600&display=swap');
/*maven pro ExtraBold 800*/
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;800&family=Poppins:wght@600&display=swap');
/* для подключения
font-family: 'Maven Pro', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');

@font-face {
	font-family: 'Poppins', sans-serif;
	src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
}

@font-face {
	font-family: 'Maven Pro', sans-serif;
	src: url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;800&family=Poppins:wght@600&display=swap');
}

.font_pattaya {
	font-family: 'Pattaya', sans-serif;
}

.font_maven {
	font-family: 'Maven Pro', sans-serif;
}


/*** End of Шрифты fonts***/




.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;

	/*перенос слов если слишком длинные слова*/
	overflow-wrap: break-word;
}




/*
.header {
	min-height: 100vh;
	background-color: blueviolet;
	display: flex;
	padding: 20px 0;
}
*/
.fullscreen {
	min-height: 100vh;
	/*
	display: flex;
	padding: 20px 0;
	*/
}

._container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}



.fullscreen_one {
	/* затемняем фоновую картинку */
	/*
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
		url('img/EveAmarr_Steam.jpg') center / cover no-repeat fixed;
	*/
	background-color: #000;

}

.fullscreen_two {
	background-color: #a52a2a;
}

.fullscreen_three {
	background-color: chartreuse;
}

.fullscreen_row {
	background-color: coral;
}

.fullscreen_six {
	background-color: darksalmon;
}



.full_block {
	flex: 1 1 auto;
	/*
	width: 50%;
	*/
	max-width: 1000px;
	margin: 0 auto;

	/* делаем всё по центру */
	display: flex;
	flex-direction: column;
	/*
	justify-content: center;
	*/
	/*
	align-self: center;
	*/
	padding: 0 20px;
}

.orange_block {
	background-color: orangered;
}

.quat {
	/*
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	*/



	/* делаем всё по центру */
	/*
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;

	padding: 50px 20px;
	*/


	width: 100%;
	height: 0;
	padding-top: 0%;
	padding-bottom: 100%;
}

.flex__blocks {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;

}

.flex__block {
	display: flex;
	flex-direction: column;
	width: 45%;
	margin: 10px;
	padding: 10px 20px;
	background-color: #111;
	border-radius: 30px;
}

.flex__block_circle {
	width: 110px;
	height: 110px;
	border-radius: 50%;
	border: orangered 15px solid;


	display: flex;
	flex-direction: column;
	justify-content: center;
	/* если круг нужен по центру
	align-self: center;
	*/
	text-align: center;
}

.big_font {
	font-size: 200px;
}


.fullscreen_bg {
	/*
	background: url('img/связь.jpg') center / cover no-repeat fixed;
	*/
	/*
	background: url('img/Йоррваскр.webp') center / cover no-repeat fixed;
	*/
	background: url('img/Йоррваскр2.png') center / cover no-repeat fixed;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.fullscreen__body {
	/*
	background-color: #794f45;
	*/
	flex: 1 1 auto;
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;


	/* делаем всё по центру */
	display: flex;
	flex-direction: column;
	justify-content: center;

	padding: 10px 20px;
}

.text_center {
	text-align: center;
}




.flex-row {
	flex: 1 1 auto;
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;

	/* делаем всё по центру */
	display: flex;
	flex-wrap: wrap;
	/*
	flex-direction: row;
	*/

	justify-content: center;

	padding: 0 10px;
}

.text-row {
	display: flex;
	align-items: center;
	padding: 0px 0px;
}

.flex__body {
	flex: 1 1 auto;
	width: 50%;

	max-width: 1000px;
	margin: 0 auto;

	/* делаем всё по центру */
	display: flex;
	flex-direction: column;
	justify-content: center;

	padding: 0px 20px;
}

@media (max-width: 800px) {
	.flex-row {
		flex-direction: column;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.flex__body {
		margin-top: 50px;
		width: 100%;
	}
}


.fullscreen__title {
	/*
	font-size: 50px;
	*/
	margin: 0 0 20px 0;
}

.fullscreen__title_h2 {

	font-size: 35px;

	margin: 0 0 20px 0;
}

.fullscreen__title_h3 {

	font-size: 25px;

	margin: 0 0 20px 0;
}

.fullscreen__title_h4 {
	/*
	font-size: 42px;
	*/
	margin: 0 0 20px 0;
}

.fullscreen__text {
	/*
	font-size: 25px;
	*/
	margin: 0 0 20px 0;
}


.fullscreen__number {
	margin: 0 0 20px 0;
	font-size: 150px;
}

.header__title {
	/*
	font-size: 50px;
	*/
	margin: 0 0 20px 0;
}

.header__text {
	/*
	font-size: 25px;
	*/
	margin: 0 0 20px 0;
}

.fullscreen__link,
.header__link {
	display: inline-block;
	line-height: 50px;
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
	letter-spacing: 2px;
	padding: 0 20px;

	border-radius: 7px;
}

.fullscreen__link {
	background-color: blueviolet;
}

.header__link {
	background-color: brown;
}


.link_center {
	align-self: center;
}

.link_start {
	align-self: start;
}






/*
.content {}
*/
/*
.content__body {
	max-width: 1000px;
	margin: 0 auto;
	padding: 30px 20px;
}
*/

.content__body p {
	margin: 0 0 20px 0;
}



.footer {
	background-color: #111;
	/*
	text-align: center;
	*/
}

/*
.header__body {
	max-width: 1000px;
	margin: 0 auto;
	padding: 30px 20px;
}

.footer__body {
	max-width: 1000px;
	margin: 0 auto;
	padding: 30px 20px;
}
*/

.full {
	max-width: 1000px;
	margin: 0 auto;
	padding: 30px 20px;
}





.footer__body {
	/*
	background-color: #794f45;
	*/
	flex: 1 1 auto;
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;

	/* делаем всё по центру */
	display: flex;
	flex-direction: column;
	justify-content: center;

	padding: 30px 20px;
}

.footer-row {
	flex: 1 1 auto;
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;

	/* делаем всё по центру */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	/* выравниваем по верхнему краю блока */
	align-items: flex-start;

	padding: 0 20px;
}

.footer__block {
	flex: 1 1 auto;
	width: 33%;

	/*
	max-width: 1000px;
	margin: 0 auto;
	text-align: center;

	/* делаем всё по центру */
	display: flex;
	flex-direction: column;
	justify-content: center;

	padding: 30px 20px;
}

@media (max-width: 800px) {
	.footer-row {
		flex-direction: column;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.footer__block {
		margin-top: 50px;
		width: 100%;
	}
}



/*** АДАПТИВНЫЙ ШРИФТ ***/
.fullscreen__title,
.header__title {
	/*
	font-size: 39px;
	*/
	font-weight: 900;

	/* делаем адаптивный шрифт под размер мин. экрана */
	/* 1ая цифра - мин значение размера шрифта
	пример: 50px был наш font-size:39px, а минимальный вывели 21px:
	50px - 21px = 29
	2ая цифра - разница первоначальное значение вычесть минимальное:
	21px + 29 * (100vw / 1280)
	*/

	font-size: calc(21px + 29 * (100vw / 1280));
}

@media (max-width: 767px) {

	.fullscreen__title,
	.header__title {
		font-weight: 900;
		/* а здесь минимальное знач. плюсуем к сумме в скобках, в скобках
		мы дублируем разницу и прибавляем её
		21px + (18 + 18 * 0.7)
		*/
		font-size: calc(21px + (29 + 29 * 0.7) * ((100vw - 320px) / 1280));
	}
}


.fullscreen__title_h2 {
	/*
	font-size: 42px;
	*/
	/*
	font-size: 39px;
	*/
	font-weight: 800;

	/* делаем адаптивный шрифт под размер мин. экрана */
	/* 1ая цифра - мин значение размера шрифта
	пример: 50px был наш font-size:39px, а минимальный вывели 21px:
	42px - 21px = 21
	2ая цифра - разница первоначальное значение вычесть минимальное:
	21px + 21 * (100vw / 1280)
	*/

	font-size: calc(21px + 21 * (100vw / 1280));
}

@media (max-width: 767px) {

	.fullscreen__title_h2 {
		font-weight: 800;
		/* а здесь минимальное знач. плюсуем к сумме в скобках, в скобках
		мы дублируем разницу и прибавляем её
		21px + (18 + 18 * 0.7)
		*/
		font-size: calc(21px + (21 + 21 * 0.7) * ((100vw - 320px) / 1280));
	}
}


.fullscreen__text,
.header__text {
	font-weight: 500;

	/* делаем адаптивный шрифт под размер мин. экрана */
	/* 1ая цифра - мин значение размера шрифта
	пример: 50px был наш font-size:39px, а минимальный вывели 21px:
	50px - 21px = 29
	2ая цифра - разница первоначальное значение вычесть минимальное:
	21px + 29 * (100vw / 1280)

	25 - 21 = 4
	*/

	font-size: calc(21px + 4 * (100vw / 1280));
}

@media (max-width: 767px) {

	.fullscreen__text,
	.header__text {
		font-weight: 500;
		/* а здесь минимальное знач. плюсуем к сумме в скобках, в скобках
		мы дублируем разницу и прибавляем её
		21px + (18 + 18 * 0.7)
		*/
		font-size: calc(21px + (4 + 4 * 0.7) * ((100vw - 320px) / 1280));
	}
}


/*** Невидимый обведённый текст ***/
@supports (-webkit-text-stroke: 1px #fff) {
	.text__transparent {
		font-size: 150px;
		font-weight: 900;
		color: transparent;
		/* прозрачный цвет букв */
		-webkit-text-stroke: 1px #fff;
		line-height: 100%;
	}
}







[data-tooltip] {
	position: relative;
	/* Относительное позиционирование */
}

[data-tooltip]::after {
	content: attr(data-tooltip);
	/* Выводим текст */
	position: absolute;
	/* Абсолютное позиционирование */
	width: 300px;
	/* Ширина подсказки */
	left: 0;
	top: 0;
	/* Положение подсказки 
	background: #3989c9;
	*/
	/* Синий цвет фона */
	color: #fff;
	/* Цвет текста */
	padding: 0.5em;
	/* Поля вокруг текста 
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
	*/
	/* Параметры тени */
	pointer-events: none;
	/* Подсказка */
	opacity: 0;
	/* Подсказка невидима */
	transition: 1s;
	/* Время появления подсказки */

	font-size: 16px;
}

[data-tooltip]:hover::after {
	opacity: 1;
	/* Показываем подсказку */
	top: 3em;
	/* Положение подсказки */
}




.hover-light {
	transition: all 0.5s;
}

.hover-light:hover {
	text-shadow: 0 0 50px #ffd700;
	transition: all 0.3s;
}